<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="menu">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
            <img th:src="@{/dist/img/AdminLTELogo.png}" alt="Avatar" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light" th:text="#{user.fullname}"></span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul id="list-menu" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                    <li class="nav-header" th:text="#{menu.function}"></li>
                    <li class="nav-item">
                        <a th:href="@{/manager-tranning/users}" class="nav-link">
                            <i class="nav-icon far fa-circle text-danger"></i>
                            <p class="text" th:text="#{menu.child.one}"></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/department" class="nav-link">
                            <i class="nav-icon far fa-circle text-warning"></i>
                            <p th:text="#{menu.child.two}"></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p th:text="#{menu.child.three}"></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/manager-tranning/devices}" class="nav-link">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p th:text="#{menu.child.four}"></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/manager-tranning/projects}" class="nav-link">
                            <i class="nav-icon far fa-circle text-info"></i>
                            <p th:text="#{menu.child.five}"></p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->

        <script type="text/javascript">
            const url = window.location.href;
            var menus = document.getElementById("list-menu").getElementsByTagName("a");
            for (let i = 0; i < menus.length; i++) {
                if (url.includes(menus[i].href)) {
                    menus[i].className += " active";
                }
            }
        </script>
    </aside>
</body>